@using WebApplication3.Models
@model ModelsDeneme
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <title>Index</title>

    <h1>Ahmet.cshtmk çalıştı </h1>
</body>
</html>