@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <br />
</head>
<body>
    <h1> Create </h1>
    <hr>
    <br />
    <form action="/Product/CreateWithForm" method="post">
        <label> Product Adı </label>
        <input name="ProductName" />
        <br />
        <label> Product Stock Count</label>
        <input name="UnitStock" />
        <br />
        <button type="submit"> Kaydet </button>
    
    </form>
</body>
</html>
