@model Product

    <form asp-action="UpdateWithForm" asp-controller="Home"  method="post">
        <label> Product Adı </label>
        <input asp-for" />
        <br />
        <label> Product Stock Count</label>
        <input name="UnitStock" />
        <br />
        <button type="submit"> Kaydet </button>

    </form>
</body>
</html>
