
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ahmet</title>
</head>
<body>
    <p> Home altındaki Ahmet view i çalıştı</p>
</body>
</html>
